.profile__info {
    font-family: 'Inter', Arial, sans-serif;
    color: #ffffff;
    max-width: 336px;
    min-height: 77px;
    display: grid;
    grid-template-columns: 295px 1fr;
    grid-gap: 16px 17px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-template-columns: 201px 1fr;
        grid-gap: 14px 1px;
        margin-right: 0;
        margin-bottom: 36px;
        min-height: 66px;
    }
}