.elements__like-button_active {
    width: 20px;
    height: 18px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-image: url(../../../../images/like_active.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}