@import url(__container/popup-photo__container.css);
@import url(__place/popup-photo__place.css);
@import url(__title/popup-photo__title.css);

.popup-photo {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}